body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.head {
    position: relative;
    text-align: center;
    color: white;
}

.header-container {
    background-image: url('/static/images/cafebg.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25%;
}

.header-container h1,
.header-container .lead {
    margin: 0;
    background: rgba(0, 0, 0, 0.3); /* Optional: To make text more readable */
}

.header-container .lead {
    margin-top: 20px;
}

.font-large {
font-size: 20px;
}

.map {
height: 200px;
width: 500px;
}

.jumbo {
font-size: 20px;
}

.logo {
height: 80px;
width: 120px;
}

.about-pic {
height: 80%;
width: 60%;
}

.mv {
height: 100px;
width: 100px
}

.top-link {
display: block;
text-align: center;
margin: 20px 0;
font-size: 18px;
}

