{% extends 'base.html' %}

{% block title %}About Us{% endblock %}

{% block content %}

<main>
    <section>
        <div class="container">
            <div class="row">
                <div class="col my-5 d-flex justify-content-center align-items-center" style="height: 50vh;">
                    <div class="text-center">
                    <h1 class="text-start">
                        BSU Aluminum and Glass Supplies
                    </h1>
                    <p class="fs-3 text-start">
                        "Building Tomorrow, One Pane at a Time."
                    </p>
                        </div>
                </div>
                <div class="col my-5">
                    <img class="about-pic" src="/static/images/BSU2.jpg">
                </div>
        </div>
        </div>
            <hr>
    </section>
        <section>
            <div class="container">
                <div class="row">
                    <h1 class="mt-3 mb-3">About us</h1>
                </div>
                <div class="row">
                    <p class="fs-4 mt-5 mb-3">
                        Welcome to BSU Aluminum and Glass Supply, your trusted partner for high-quality aluminum and glass products. Founded with a commitment to excellence, we have been serving the construction and renovation industries with top-notch materials and unparalleled customer service. Our extensive product range includes aluminum sheets, extrusions, windows, doors, and a variety of glass options designed to meet the diverse needs of our clients. With years of experience and a passion for innovation, we strive to provide solutions that enhance the durability, aesthetics, and functionality of your projects.
                    </p>
                    <p class="fs-4 mt-5 mb-3">
                        At BSU Aluminum and Glass Supply, we believe in the power of collaboration and strong partnerships. Our team of experts works closely with architects, builders, and homeowners to understand their unique requirements and deliver customized solutions that bring their visions to life. We are dedicated to continuous improvement and staying ahead of industry trends to ensure that our products not only meet but exceed the highest standards of quality and performance. Trust us to be your reliable source for aluminum and glass products, and together, we'll build a brighter, more beautiful future.
                    </p>
                </div>
                  <hr>
            </div>
        </section>
        <section>
            <div class="container bg bg-white border border-priamary">
                <div class="row my-5">
                    <div class="col d-flex flex-column justify-content-center align-items-center" style="height: 30vh;">
                        <h2>
                        <strong class="text-black">Mission</strong>
                        </h2>
                        <img class="mv" src="/static/images/mission_icon.jpg">
                    </div>
                    <div class="col d-flex flex-column justify-content-center align-items-center" style="height: 30vh;">
                        <p class="text-secondary fs-5">
                            Our mission at BSU Aluminum and Glass Supply is to deliver superior aluminum and glass products that exceed the expectations of our customers. We are dedicated to fostering long-term relationships by providing exceptional value, quality, and service. By continuously improving our products and processes, we aim to be the preferred supplier in the industry, contributing to the success of our clients' projects and the betterment of our community.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col col d-flex flex-column  justify-content-center align-items-center" style="height: 30vh;">
                        <p class="text-secondary fs-5">
                            Our vision is to be the leading provider of aluminum and glass solutions in the region, known for our innovation, reliability, and commitment to sustainability. We aspire to set new standards in the industry by embracing cutting-edge technologies and sustainable practices, ensuring that our products not only meet but exceed the evolving needs of our customers. Through our unwavering dedication to quality and service, we envision a future where BSU Aluminum and Glass Supply is synonymous with excellence in the construction and renovation sectors.
                        </p>
                    </div>
                    <div class="col col d-flex flex-column  justify-content-center align-items-center" style="height: 30vh;">
                        <h2>
                            <strong class="text-black">Vision</strong>
                        </h2>
                        <img class="mv" src="/static/images/vision.jpg">
                    </div>
                </div>
                <hr>
            </div>
        </section>
    <section>
        <div class="container">
            <div class="mt-5 d-flex justify-content-center">
                <h1>Connect with us!</h1>
            </div>
            <div class="d-flex justify-content-center">
                <p class="mt-3 fs-5">Follow us on our social media pages.</p>
            </div>
            <div class="d-flex justify-content-center mb-5">
                <a class="text-body-secondary" target="_blank" href="https://www.facebook.com/profile.php?id=100057350114617"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
              <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951"/>
            </svg></a>
            </div>

        </div>
    </section>



</main>



{% endblock %}