<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
        {% block styles %}
    <!-- Load Bootstrap-Flask CSS here -->
    {{ bootstrap.load_css() }}
    <link
      href="{{ url_for('static', filename='css/styles.css') }}"
      rel="stylesheet"
    />
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<body class="d-flex h-100  text-bg-dark">
<header class="d-flex flex-wrap justify-content-center align-items-center py-3 mb-4 pb-1 border-bottom">
    <div class="d-flex align-items-center me-3">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 link-body-emphasis text-decoration-none">
            <img class="logo" src="/static/images/logo.png">
        </a>
    </div>
    <div class="flex-grow-1 text-center" id="title">
        <p class="fs-1 text-danger mb-0">Aluminum & Glass Supply</p>
        <p class="fs-3 text-white">Wholesaler and Retailer</p>
    </div>
    <div class="me-3"></div> <!-- This empty div helps with spacing to balance the layout -->
</header>


<div class="container">
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav nav-pills navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item mx-1">
              <a class="nav-link {% if active_page == 'home' %}active{% endif %}" href="/"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
  <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5"/>
</svg></a>
          </li>
        <li class="nav-item mx-1">
          <a class="nav-link {% if active_page == 'shop' %}active{% endif %}" aria-current="page" href="{{ url_for('store') }}">Store</a>
        </li>
        <li class="nav-item mx-1">
          <a class="nav-link {% if active_page == 'about' %}active{% endif %}" href="{{ url_for('about') }}">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if active_page == 'contact' %}active{% endif %}" href="{{ url_for('contact') }}">Contact</a>
        </li>
      </ul>
        <a class="mx-5 position-relative" href="{{ url_for('cart') }}">
  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart2" viewBox="0 0 16 16">
    <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l1.25 5h8.22l1.25-5zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0"/>
  </svg>
  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
    {{ total_quantity }}
    <span class="visually-hidden">Cart</span>
  </span>
</a>

    </div>
  </div>
</nav>
</div>
    {% block content %}{% endblock %}

</body>
<footer class="d-flex flex-wrap justify-content-between align-items-center border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <span class="mb-3 mb-md-0 text-body-secondary">© {{current_year}} BSU Aluminum and Glass Supply </span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex mx-5">
      <li class="ms-3"><a class="text-body-secondary" target="_blank" href="https://www.facebook.com/p/BSU-Aluminum-and-Glass-Supply-100057350114617/"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
  <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951"/>
</svg></a></li>
    </ul>

  </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
      <!-- Core theme JS-->
      <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</html>
