{% extends 'base.html' %}

{% block title %}Cart{% endblock %}

{% block content %}

 <div class="container mt-5 pt-5 mb-5 pt-5">
        <h1>Your Shopping Cart</h1>
        <table class="table text-white">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for items in cart_items %}
                <tr>
                    <td>{{ items.product_name}}</td>
                    <td>₱{{ items.price}}</td>
                    <td>{{ items.quantity }}</td>
                    <td>₱{{ items.price * items.quantity }}</td>
                    <td>
                        <form action="{{ url_for('remove_from_cart', product_name=items.product_name) }}" method="POST" style="display:inline;">
                        <button type="submit" class="btn btn-danger">Remove</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3"><strong>Total</strong></td>
                    <td><strong>₱{{ total_price }}</strong></td>
            </tfoot>
        </table>
         <a href="{{ url_for('store')  }}" class="btn btn-primary mx-3">Continue Shopping</a>
     <a href="{{ url_for('clear_session') }}" class="btn btn-danger">Clear</a>
        <div class="pt-2">
      <a href="{{ url_for('check_out', total_price=total_price) }}" class="btn btn-success btn-lg mx-3 mt-2">Check Out</a>
            </div>
    </div>



{% endblock %}