{% extends 'base.html' %}

{% block title %}Edit Product{% endblock %}

{% block content %}

 <div class="container text-start">
     <h1 class="text-center">Edit Product</h1>
         <form method='POST'>
        {{ form.hidden_tag() }}
        <div class="my-4">
            {{ form.product_name.label(class="form-label") }}
            {{ form.product_name(class="form-control") }}
        </div>
        <div class="my-4">
            {{ form.description.label(class="form-label") }}
            {{ form.description(class="form-control") }}
        </div>
        <div class="my-4">
            {{ form.price.label(class="form-label") }}
            {{ form.price(class="form-control") }}
        </div>
        <div class="my-4">
            {{ form.stock_quantity.label(class="form-label") }}
            {{ form.stock_quantity(class="form-control") }}
        </div>
        <div class="my-4">
            {{ form.img_url.label(class="form-label") }}
            {{ form.img_url(class="form-control") }}
        </div>
        <div class="my-4">
            {{ form.submit(class="btn btn-primary") }}
        </div>
        </form>
            </div>


{% endblock %}