{% extends 'base.html' %}

{% block title %}Shop Now{% endblock %}

{% block content %}



<div class="container text-center py-5">
        <h1 class="display-5 fw-bold">Our Products</h1>
        <p class="fs-4 mt-5">Explore our wide range of aluminum and glass products. We offer high-quality materials to meet all your construction and renovation needs.</p>
  </div>
<img src="{{image}}">

<div class="d-flex flex-wrap mx-5">
    {% for item in products %}
    <div class="card mx-5 my-3" style="width: 18rem;">
  <img src="{{ item.img_url }}" class="card-img-top" alt="product item">
  <div class="card-body">
    <h5 class="card-title text-black">{{ item.product_name }}</h5>
    <p class="card-text text-black">{{ item.description }}</p>
      <p class="text-black fs-3">₱{{ item.price }}</p>
      <p class="text-secondary">Stock: {{item.stock_quantity}}</p>
      <form method="POST" action="/store">
       <input type="hidden" name="product_id" value="{{ item.product_id }}">
        {{ form.quantity(class="form-control", placeholder="Enter quantity") }}
        <button type="submit" class="btn btn-success mt-2">Add to cart</button>
         </form>
  </div>
</div>
    {%endfor%}
</div>


{% endblock %}