
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.container {
    flex: 1;
}
footer {
    padding: 1rem 0;
    text-align: center;
}


.pic {
border-radius: 20px;
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.card-body{
background-color: #bdc3c7;
}

